@import url('../theme.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    background: url('../../assets/bg2.jpeg');
    overflow: hidden;
}

header {
    width: 100%;
    height: 10vh;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 28px;
    font-family: var(--heading-font);
    z-index: 100;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

.score-div {
    margin-top: 2rem;
    margin-right: 5rem;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 10px;
    color: var(--text-color);
}

main {
    width: 100%;
    height: 90vh;
    position: relative;
    /* background-color: darkkhaki; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.shelf {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    z-index: 10;
    /* background-color: brown; */
    background: url('../../assets/shelf_edit.png');
}

/* .danger-line {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    background-color: red;
    z-index: 50;
} */

.bowl {
    width: 10rem;
    height: 7rem;
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 5rem);
    z-index: 50;
    /* background-color:darkorchid; */
    /* background: url('../../assets/bowl.png'); */
    /* background-size: contain; */
}

.bowl img {
    width: 100%;
    height: 100%;
}

.fruit {
    width: 70px;
    height: 70px;
    background-color: gold;
    /* background: url(../../font/src/png/A.png); */
    background-size: contain;
    position: absolute;
    bottom: 500px;
    z-index: 10;
}


#start-screen,
#end-screen {
    /* width: fit-content; */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 100; */
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    /* color: var(--dark-brown); */
}

#start-screen h1,
#end-screen h1 {
    font-family: var(--fruit-font);
    /* color: var(--dark-brown); */
}

#start-screen h2,
#end-screen h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--text-color);
}

#start-screen p,
#end-screen p {
    font-family: var(--text-font);
    font-size: 20px;
    color: var(--text-color);
}

#start-screen button,
#end-screen button {
    font-family: var(--text-font);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 20px;
    border: none;
    background-color: var(--dark-brown);
    color: var(--white);
    border-radius: 8px;
}

.hidden {
    display: none;
}