:root {
    --light-brown: #5491e1;
    --dark-brown: #003d8c;
    --white: #ccc;
    --translucent-black: #3b040442;
    --text-font: 'Segoe UI', Verdana, sans-serif;
    --heading-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fruit-font: 'Fruit Salad', sans-serif;
}

@font-face {
    font-family: "Fruit Salad";
    src: url("../font/build/fruit-salad.ttf") format("truetype");
}